/* ul{명령}
ul{@extend %aa;}
li{@extend %aa;}
css > ul,li

ul{명령}
li{@extend ul;}
a{@extend ul;}
css > li,a{ul태그 명령 추가}
     */
%listType{
    list-style-type: none;
}
html,body {
    margin: 0;
    padding: 0;
}
%ul {list-style-type: none;}
li{
    @extend %ul;

}
a {
    text-decoration: none;
}
span,em,strong,a {
    display: inline-block;
}
* {
    margin: 0;
    font-size: 16px;
    font-family: '';
    box-sizing: border-box;
    color: #333;
}
