%listType{
    list-style-type: none;
}
html,body {
    margin: 0;
    padding: 0;
}
ul,li {
    @extend %listType;
    padding: 0;
}
a {
    text-decoration: none;
}
span,em,strong,a {
    display: inline-block;
}
* {
    margin: 0;
    font-size: 16px;
    font-family: '';
    box-sizing: border-box;
    color: #333;
}
