*{margin: 0; padding: 0}

/* layout */
.total_div{width: 965px; border: 1px solid red; margin: 0 auto}
.top1{}
.top2{}

.left_all{width: 303px; float: left}
.left_all .left1{}
.left_all .left2{}
.left_all .left3{}

.content{width: 662px; float: right}

.footer{clear: both}











