@import "reset";
@mixin after($left){
    &:after{
        display: block;
        content: '';
        width: 155px;
        height: 1px;
        background: #000;
        position: absolute;
        left: $left;
        top: 16px;
    }
}
.wrap{
    width: 100%;
    padding: 170px 360px;
    box-sizing: border-box;
}
.con1{
    width: 100%;
    height: 980px;
    margin-bottom: 185px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    figure{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-of-type(1){
            figcaption{
                order: 1;
                @include after(-15px);
            }
            img{
                order: 2;
            }
        }
        &:nth-of-type(2){
            figcaption{
                padding: 0 155px 0 0;
                @include after(355px);
            }
        }
        img{
            width: 616px;
            height: 367px;
            display: block;
            box-shadow: 3px 3px 10px 10px rgba(0,0,0,0.1);
            transition: .5s;
            &:hover{
                box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.3);
            }
        }
        figcaption{
            width: 355px;
            position: relative;
            padding-left: 155px;
            
            h2{
                font-size: 40px;
            }
            p{
                font-size: 15px;
                margin: 28px 0 22px;
                line-height: 1.5em;
            }
            button{
                display: inline-block;
                font-size: 14px;
                background: none;
                font-weight: bold;
                em{
                    color: #bea67c;
                }
            }
        }
    }
}
.con2{
    width: 100%;
    text-align: center;
    h2{
        font-size: 48px;
        position: relative;
        &:after{
            display: block;
            content: '';
            width: 44px;
            height: 4px;
            position: absolute;
            left: calc(50% - 22px);
            top: calc(50%- - 2px);
            margin: 25px 0;
            background: #bea67c;
        }
    }
    p{
        line-height: 1.5em;
        font-size: 15px;
        margin: 54px 0 78px;
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li{
            width: 272px;
            div{
                box-sizing: border-box;
                width: 272px;
                height: 272px;
                border-radius: 50%;
                border: 1px solid #ddd;
                margin-bottom: 47px;
                position: relative;
                overflow: hidden;
                &:before{
                    display: block;
                    content: '';
                    width: 68px;
                    height: 68px;
                    background: rgba(190,166,124,0.8) url("img/play.png") no-repeat center center;
                    position: absolute;
                    left: calc(50% - 34px);
                    top:  calc(50% - 34px);
                    border-radius: 50%;
                    z-index: 2;
                }
                &:after{
                    display: flex;
                    content: '';
                    width: 25px;
                    height: 1px;
                    background: #bea67c;
                    position: absolute;
                    left: calc(50% - 12px);
                    bottom: -32px;
                }
                img{
                    width: 244px;
                    height: 244px;
                    display: block;
                    position: absolute;
                    left: calc(50% - 122px);
                    top:  calc(50% - 122px);
                    overflow: hidden;
                    transition: .35s;
                }
                &:hover img{
                    transform: scale(1.1);
                }
            }
        }
    }
}
