@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
body {
    width: 100%;
}
#wrap {
    width: 1920px;
    position: relative;
}
header {
    width: 100%;
    height: 100px;
}
header .head {
    width: 1720px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .head .logo {
    width: 165px;
    height: 34px;
}

header .head .logo img {
    width: 100%;
    height: 100%;
}
header .head .search {
    width: 450px;
    height: 30px;
    border: 2px solid #fdd000;
    position: relative;
}
header .head .search input {
    width: 400px;
    border: none;
    text-indent: 20px;
}
header .head .search a:nth-of-type(1) {
    width: 9px;
    height: 9px;
    position: absolute;
    right: 35px;
    top: calc(50% - 3px);
    background: url("../img/triangle.png") no-repeat center;
    background-size: 7px;
}
header .head .search a:nth-of-type(2) {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -2px;
    top: -2px;
    background: #fdd000 url(../img/search.png) no-repeat center;
    background-size: 13px;
}
header .head ul {
    width: 200px;
    height: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .head ul li {
    width: 19px;
    height: 19px;
}
header .head ul li img {
    width: 100%;
    height: 100%;
}
#visual {
    width: 1480px;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
}
#visual ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0;
}
#visual ul::after {
    position: absolute;
    top: 7%;
    left: calc(50% - 15px);
    content: "";
    display: inline-block;
    width: 31px;
    height: 37px;
    background: url("../img/hand.png") no-repeat;
    background-size: cover;
    opacity: 1;
}
#visual ul li {
    width: 296px;
    height: 100%;
    flex: 1;
    transition: flex 0.35s;
}
#visual ul li a {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#visual ul li a:after {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
#visual ul li a .overLay {
    width: 100%;
    height: 100%;
    padding: 0 80px;
}
#visual ul li a .overLay .overLayInner {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 1s;
}
#visual ul li:nth-of-type(1) .overLayInner {
    background: url("../img/design.png");
}
#visual ul li:nth-of-type(2) .overLayInner {
    background: url("../img/happy.png");
}
#visual ul li:nth-of-type(3) .overLayInner {
    background: url("../img/mywedding.png");
}
#visual ul li:nth-of-type(4) .overLayInner {
    background: url("../img/mom.png");
}
#visual ul li:nth-of-type(5) .overLayInner {
    background: url("../img/luxury.png");
}

#visual ul li a .overLay p {
    width: 340px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 20%;
    bottom: -100%;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 2em;
    opacity: 0;
    transition: 0.35s;
    z-index: 10;
}
#visual ul li:hover {
    flex: 2;
}
#visual ul li:hover .overLay p {
    bottom: 40%;
    opacity: 1;
}
#visual ul li:hover a:after {
    opacity: 1;
}
#visual ul li:hover a .overLay .overLayInner {
    opacity: 0;
}

#visual ul li:nth-of-type(1) a {
    background-image: url("../img/visual1.jpg");
    background-position: 20%;
}
#visual ul li:nth-of-type(2) a {
    background-image: url("../img/visual22.jpg");
    background-size: 30vw;
}
#visual ul li:nth-of-type(3) a {
    background-image: url("../img/visual3.jpg");
    background-size: 30vw;
}
#visual ul li:nth-of-type(4) a {
    background-image: url("../img/visual4.jpg");
}
#visual ul li:nth-of-type(5) a {
    background-image: url("../img/visual5.jpg");
    background-size: 30vw;
}

.menu {
    width: 1720px;
    margin: 70px auto;
}
.menu ul {
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu ul li {
}
.menu ul li a {
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
}
.menu ul li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #fdd000;
    position: absolute;
    left: 50%;
    bottom: -7px;
    opacity: 0;
    transition: 0.3s;
}
.menu ul li a:hover:after {
    left: 0;
    width: 100%;
    opacity: 1;
}

.contents1 {
    width: 100%;
    height: 1225px;
    background: #eee;
    margin: 250px auto 0;
}
.banner {
    width: 1480px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}
.banner ul {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: -120px;
    display: flex;
    flex-direction: column;
}
.banner ul li {
    width: 100%;
    height: 300px;
    background: #fff;
    position: relative;
    padding: 54px 0 38px 54px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.35s;
}
.banner ul li:hover {
    box-shadow: 5px 5px 10px;
}
.banner ul li h3 {
    font-size: 1.25em;
    margin-bottom: 20px;
}
.banner ul li h3:before {
    display: block;
    content: "";
    width: 90px;
    height: 30px;
    background: url("../img/logo_happy.png") no-repeat;
    background-position: center;
    background-size: contain;
}
.banner ul li p {
    margin-bottom: 14px;
    color: #666;
}
.banner ul li a {
    width: 145px;
    font-size: 0.875em;
    color: #000;
    position: relative;
}
.banner ul li a span {
    background: #000;
    height: 1px;
    position: absolute;
}
.banner ul li a span:first-of-type {
    width: 60px;
    right: 0;
    bottom: 30%;
}
.banner ul li a span:last-of-type {
    width: 12px;
    right: 0;
    bottom: 47%;
    transform: rotate(30deg);
}
.banner ul li a:last-child {
    width: 550px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;

    background-size: cover;
    background-repeat: no-repeat;
}
.banner ul li:nth-of-type(1) a:last-child {
    background: url("../img/main1.jpg");
    background-position: center;
}
.banner ul li:nth-of-type(2) a:last-child {
    background: url("../img/main2.jpg");
    background-position: 0 -30px;
}
#articleText {
    width: 1720px;
    margin: 0 auto;
}
#articleText h3 {
    font-size: 1.625em;
    margin-bottom: 24px;
    text-align: center;
}
#articleText ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
#articleText ul li {
    width: 460px;
    height: 460px;
    display: flex;
    flex-direction: column;
    font-size: 0;
}
#articleText ul li .articleImg {
    width: 460px;
    height: 230px;
    position: relative;
    overflow: hidden;
}
#articleText ul li .articleImg a {
    width: 100%;
    height: 230px;
    position: relative;
    transition: 0.5s;
}
#articleText ul li:hover .textBox h4 {
    font-size: 1.2em;
}
#articleText ul li:hover .articleImg a {
    transform: scale(1.2);
}
#articleText ul li .articleImg a img {
    width: 100%;
    height: 100%;
}
#articleText ul li:first-child,
#articleText ul li:last-child {
    width: 56px;
    height: 96px;
}
#articleText ul li:first-child a {
    width: 100%;
    height: 100%;
    background: url("../img/arrow_L.png") no-repeat center;
    background-size: contain;
}
#articleText ul li:last-child a {
    width: 100%;
    height: 100%;
    background: url("../img/arrow_R.png") no-repeat center;
    background-size: contain;
}

#articleText ul li .textBox {
    width: 100%;
    height: 230px;
    background: #fff;
    padding: 50px 20px 45px;
    position: relative;
}
#articleText ul li .textBox::after {
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    background: #fdd000;
    position: absolute;
    left: 0;
    bottom: 0;
}

#articleText ul li .textBox h4 {
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 23px;
    transition: 0.5s;
}
#articleText ul li .textBox p {
    font-size: 0.875em;
    text-align: center;
    line-height: 1.5em;
}
.subMenu {
    width: 1720px;
    height: 368px;
    margin: 220px auto 120px;
    position: relative;
}
.subMenu .sub {
    width: 1084px;
    height: 100%;
    position: relative;
}
.subMenu .sub .subText {
    width: 487px;
    height: 197px;
    position: absolute;
    left: 0;
    top: calc(50% - 98px);
    background: #fff;
    z-index: 20;
    padding: 34px 0 34px 48px;
}
.subMenu .sub .subText h3 {
    font-size: 1.25em;
    margin-bottom: 25px;
}
.subMenu .sub .subText p {
    color: #666;
}
.subMenu .sub .subText a {
    width: 208px;
    height: 13px;
    position: absolute;
    right: 40px;
    bottom: 26px;
}
.subMenu .sub .subText a span:first-of-type {
    width: 100%;
    height: 1px;
    background: #fdd000;
    position: absolute;
    left: 0;
    bottom: 0;
}
.subMenu .sub .subText a span:last-of-type {
    width: 25px;
    height: 1px;
    background: #fdd000;
    position: absolute;
    right: -2px;
    bottom: 6px;
    transform: rotate(30deg);
}
.subMenu .sub .subBack {
    width: 966px;
    height: 100%;
    position: absolute;
    left: 120px;
    top: 0;
    background: url("../img/subback.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.subMenu .sub .subBack:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
}
.subMenu .sub .subBack ul {
    width: 380px;
    height: 160px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform-style: preserve-3d;
}
.subMenu .sub .subBack ul:nth-of-type(1) {
    left: 240px;
    top: 40px;
    z-index: 10;
}
.subMenu .sub .subBack ul:nth-of-type(2) {
    left: 390px;
    top: 120px;
    z-index: 9;
}
.subMenu .sub .subBack ul:nth-of-type(3) {
    left: 540px;
    top: 200px;
    z-index: 8;
}

.subMenu .sub .subBack ul li {
    width: 100px;
    height: 133px;
    animation: skew 7s 1s alternate linear infinite;
}
@keyframes skew {
    0% {
        transform: skew(0deg);
    }

    50% {
        box-shadow: 5px 5px 5px #666;
    }
    100% {
        transform: skew(30deg);
        box-shadow: 5px 5px 5px #666;
    }
}
.subMenu .sub .subBack ul li img {
    width: 100%;
    height: 100%;
}
.subMenu .classEvent {
    width: 636px;
    height: 368px;
    position: absolute;
    right: 0;
    top: 0;
    background: #eee;
}
.subMenu .classEvent ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.subMenu .classEvent ul li {
    width: 50%;
    height: 285px;
    text-align: center;
    padding-top: 92px;
    position: relative;
}
.subMenu .classEvent ul li span {
    width: 1px;
    height: 142px;
    background: #333;
    position: absolute;
    right: 0;
    bottom: 30px;
}
.subMenu .classEvent ul li a:first-of-type {
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subMenu .classEvent ul li .classTour {
    background: url("../img/mainclass.png");
}
.subMenu .classEvent ul li .event {
    background: url("../img/mainevent.png");
}
.subMenu .classEvent ul li h4 {
    font-size: 1.25em;
    text-align: center;
    margin: 26px 0 10px;
}
.subMenu .classEvent ul li a:last-of-type {
    font-size: 0.75em;
    margin-top: 4px;
    padding: 6px 20px;
    background: #fff;
    border: 1px solid #333;
}
.subMenu .classEvent ul li a:last-of-type:hover {
    background: #fdd000;
    border: none;
}
.subMenu .classEvent div {
    width: 100%;
    height: 83px;
}
.subMenu .classEvent div p {
    text-align: center;
    line-height: 2em;
}

footer {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    background: #333;
}
footer nav {
    width: 100%;
    height: 56px;
    background: #eee;
}
footer nav ul {
    padding: 0;
    width: 680px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer nav ul li {
    height: 100%;
    vertical-align: middle;
    padding: 16px 0;
    background: unset;
}
footer nav ul li a {
    padding: 0 10px;
    height: 100%;
}
footer nav ul li:hover {
    background: #fdd000;
}
footer nav ul li:hover a {
    font-weight: bold;
}
footer div {
    padding: 0;
    width: 100%;
    padding: 34px 0;
}
footer div ul {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div ul li {
}
footer div ul li a {
    color: #fff;
}
footer div p {
    text-align: center;
    white-space: pre-line;
    color: #fff;
    line-height: 2em;
}
.top {
    width: 37px;
    height: 37px;
    position: fixed;
    right: 28px;
    bottom: 260px;
}
.top a {
    width: 100%;
    height: 100%;
    background: url("../img/top.png") no-repeat;
    background-size: cover;
    background-position: center;
}
