@import url("common.css");
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
/* font-family: 'Noto Sans KR', sans-serif; */
#wrap {
    width: 1920px;
}
header {
    width: 100%;
    height: 100px;
}
header .head {
    width: 1720px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .head .logo {
    width: 165px;
    height: 34px;
}

header .head .logo img {
    width: 100%;
    height: 100%;
}
header .head .search {
    width: 450px;
    height: 30px;
    border: 2px solid #fdd000;
    position: relative;
}
header .head .search input {
    width: 400px;
    border: none;
    text-indent: 20px;
}
header .head .search a:nth-of-type(1) {
    width: 9px;
    height: 9px;
    position: absolute;
    right: 35px;
    top: calc(50% - 3px);
    background: url("../img/triangle.png") no-repeat center;
    background-size: 7px;
}

header .head .search a:nth-of-type(2) {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -2px;
    top: -2px;
    background: #fdd000 url(../img/search.png) no-repeat center;
    background-size: 13px;
}
header .head ul {
    width: 200px;
    height: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .head ul li {
    width: 19px;
    height: 19px;
}
header .head ul li img {
    width: 100%;
    height: 100%;
}
.subTop {
    width: 100%;
}
.subTop .subTitle {
    width: 100%;
    height: 185px;
    background: url("../img/subtitle_event.jpg") no-repeat;
    background-size: cover;
}
.subTop .subTitle h2 {
    text-transform: uppercase;
    font-family: "Baskerville BT";
    font-size: 2.375em;
    text-align: center;
    line-height: 185px;
    color: #fff;
}
.contents {
    width: 100%;
    height: 100%;
    background: #eee;
    margin-bottom: 120px;
}
.contents .siteNav {
    width: 1480px;
    margin: 0 auto;
    padding: 35px 0;
    text-align: left;
    position: relative;
}
.contents .siteNav .siteList {
    background: #fff;
    width: 130px;
    height: 120px;
    border: 1px solid #333;
    position: absolute;
    left: 153px;
    top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.contents .siteNav:hover .siteList {
    display: block;
}
.contents .siteNav .siteList a {
    font-size: 0.875em;
    width: 100%;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #333;
    line-height: 30px;
}
.contents .siteNav .siteList a:hover {
    font-weight: bold;
}
.contents .siteNav .siteList a:last-of-type {
    border: none;
}
.contents .siteNav .home {
    padding: 0 20px;
    font-size: 0.875em;
    font-weight: 600;
    margin-right: 20px;
}
.contents .siteNav span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../img/arrow.png") no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
.contents .siteNav .subName {
    padding: 0 20px;
    font-size: 0.875em;
    font-weight: 600;
    position: relative;
}
.contents .siteNav .subName:after {
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    right: 0;
    bottom: 3px;
    background: url("../img/triangle.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.contents .subBanner {
    width: 1480px;
    height: 230px;
    margin: 0 auto 110px;
    background: #fff;
    display: flex;
    flex-direction: row;
}
.contents .subBanner .bannerText {
    width: 1012px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contents .subBanner .bannerText strong {
    margin-bottom: 25px;
    font-size: 1.625em;
    text-align: center;
}
.contents .subBanner .bannerText i {
    font-style: normal;
    color: #999;
    text-align: center;
}
.contents .subBanner .bannerImg {
    width: 468px;
    height: 100%;
    background: url("../img/sub2banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.events {
    width: 1480px;
    margin: 0 auto;
    padding-bottom: 220px;
}
.events ul {
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.events ul li {
    width: 100%;
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: 0.5s;
}
.events ul li:hover {
    box-shadow: 5px 5px 5px #666;
}
.events ul li:hover .eventImg img {
    transform: scale(1.2);
}
.events ul li .eventText {
    width: 930px;
    height: 100%;
    padding: 40px 0 40px 55px;
    position: relative;
}
.events ul li .eventText i {
    display: block;
    width: 100px;
    height: 30px;
}
.events ul li .eventText i img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.events ul li .eventText h3 {
    font-size: 1.5em;
    padding: 8px 0;
    margin-bottom: 47px;
}
.events ul li .eventText p {
}

.events ul li .eventText span {
    width: 48px;
    height: 21px;
    display: inline-block;
    background: #fdd000;
    position: absolute;
    top: 86px;
    font-size: 0.75em;
    text-align: center;
    line-height: 21px;
    color: #fff;
    animation: ani2 2s linear alternate-reverse infinite;
}
@keyframes ani2 {
    0% {
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.events ul li:nth-of-type(1) .eventText span {
    left: 386px;
}
.events ul li:nth-of-type(2) .eventText span {
    left: 260px;
}
.events ul li:nth-of-type(3) .eventText span {
    background: #959595;
    left: 360px;
}

.events ul li .eventText a {
    width: 150px;
    height: 26px;
    position: absolute;
    left: 100px;
    bottom: 47px;
}
.events ul li .eventText a::before {
    width: 60px;
    height: 1px;
    content: "";
    background: #333;
    display: block;
    position: absolute;
    right: 0;
    bottom: 48%;
}
.events ul li .eventText a:after {
    width: 12px;
    height: 1px;
    content: "";
    background: #333;
    display: block;
    position: absolute;
    right: -1px;
    bottom: 59%;
    transform: rotate(30deg);
}

.events ul li .eventImg {
    width: 550px;
    height: 100%;
    overflow: hidden;
}
.events ul li .eventImg img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

footer {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    background: #333;
}
footer nav {
    width: 100%;
    height: 56px;
    background: #eee;
}
footer nav ul {
    padding: 0;
    width: 680px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer nav ul li {
    height: 100%;
    vertical-align: middle;
    padding: 16px 0;
    background: unset;
}
footer nav ul li a {
    padding: 0 10px;
    height: 100%;
}
footer nav ul li:hover {
    background: #fdd000;
}
footer nav ul li:hover a {
    font-weight: bold;
}
footer div {
    padding: 0;
    width: 100%;
    padding: 34px 0;
}
footer div ul {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div ul li {
}
footer div ul li a {
    color: #fff;
}
footer div p {
    text-align: center;
    white-space: pre-line;
    color: #fff;
    line-height: 2em;
}
.top {
    width: 37px;
    height: 37px;
    position: fixed;
    right: 28px;
    bottom: 260px;
}
.top a {
    width: 100%;
    height: 100%;
    background: url("../img/top.png") no-repeat;
    background-size: cover;
    background-position: center;
}
