//@charset 'utf-8';
@import "_common";

@mixin before($w,$h,$c){
    content:'';
    display:inline-block;
    width:$w;height:$h;
    background:$c;
    vertical-align: middle;
}


section{
    width:100%;
    .container{
        width:1200px;
        margin:0 auto;
    }
}
.list{
    display:flex;
    align-items: center;
    justify-content: space-between;
    figcaption{
        width:40%;
        b{font-size:2em;}
        p{font-size:1.2em; line-height:1.6em;}
        i{font-style:normal;}       
    }
    & > p{
        width:50%;
        overflow:hidden;
        img{width:100%;transition:.5s;}
    }
    &:hover img{
        transform:scale(1.2);
    }
    @at_root .list:nth-of-type(1){
        b{
            &:before{@include before(50%, 2px, #000);}
        }
    }
    @at_root .list:nth-of-type(2){
        flex-direction: row-reverse;
        b{
            &:after{@include before(50%, 2px, #000);}
        }
    }    
}


