@import url("common.css");
header {
}
header nav {
    width: 1200px;
    margin: 0 auto;
}
header nav a {
}

section {
    background: #eee;
}
section article {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
section article h2 {
}
section article ul {
    display: flex;
    justify-content: space-around;
}
section article ul li {
}
section article li img {
    width: 100%;
}
section article ul li figure {
}
section article ul li figure figcaption {
    visibility: hidden;
}
section article ul li figure:hover figcaption {
    visibility: visible;
}

footer {
    text-align: center;
}
footer nav {
}
footer nav a {
}
footer p {
}

aside {
    width: 200px;
    position: absolute;
    left: calc(50% + 600px);
    top: 100px;
    background: #00f;
}
